* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

nav {
  background-color: #333333;
}

.grid-nav-img {
  display: flex;
  flex: 0 0 100%;
}

img {
  align-items: center;
  justify-content: center;
  margin: auto;
}

nav ul {
  display: flex;
  flex: 0 0 100%;
  flex-flow: wrap column;
  max-height: 170px;
  text-align: center;
}

nav li {
  margin: 1em;
  font-size: .85em;
  list-style-type: none;
}


nav a:link    { color: silver;
            background-color: transparent;
            text-decoration: none;}
nav a:visited { color: silver;
            background-color: transparent;
            text-decoration: none;}
nav a:hover   { color: silver;
            background-color: transparent;
            text-decoration: underline;}
nav a:active  { color: silver;
            background-color: transparent;
          text-decoration: none;}

@media (min-width: 468px) {
  nav ul {
    max-height: 100px;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  nav li {
    border-right: solid 1px silver;
    padding-right: 1em;
    margin-left: 0;
  }
  nav li:last-child {
    border-right: 0;
  }

}
